[submodule "app/lib/openzeppelin-contracts"]
	path = app/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "app/lib/forge-std"]
	path = app/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
